body{
  background-color: aliceblue;
  color: black;
}
.App{
  max-width: 70%;
  margin: 0 auto;
  padding: 0;
  background-color: bisque;
  font-family: Verdana;
  color: black;
}
.main{
  padding: 1rem;
}
h1{
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.csapat{
  padding: 0px;
}
.csapat ul li{
list-style: none;
}
footer{
  background-color: grey;
}
.datamain{
  padding: 20px;
}
h2{
  text-decoration: underline;
}
p{
  padding-left: 30px;
}
.adkep{
  max-width: 50%;
  float: right;
  margin-left: 20px;
}
.mainkep{
  max-width: 100%;
}
.configkep{
  max-width: 50%;
  float: right;
}
.munkakep{
  max-width: 100%;
}